:root {
  --primary-color:#050816  ; 
  --card-color: #050816;
  --alt-sec-color:#050816;
  --cntborder-color: rgba(255, 166, 0, 0.649);
  --secondry-color: rgb(0, 191, 255); 
  --Logobg-color:rgba(255, 166, 1, 0.878);
  --primary-text-color:#ffffff;
  --secondry-text-color: rgb(0, 191, 255);   
}

html{
  scroll-behavior: smooth !important;
}

body{
  background-color: var(--primary-color) !important;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

